
/* .custom-delete-button {
  background-color: #FFB8BD !important;
  border-color: #FFB8BD !important;
}

.custom-confirm-button {
  background-color: #FFB8BD !important;
  border-color: #FFB8BD !important;
  color: white;
} */
